.movie {
object-fit: contain;
width: 100%;
max-height: 100px;
margin-right: 10px;
transition: transform 450ms
}

.movies_row {
display: flex;
overflow-y: hidden;
overflow-x: scroll;
padding: 20px
}

.movies_row::-webkit-scrollbar {
    display: none;
}

.movie:hover {
transform: scale(1.08)
}

.row_posterLarge {
    max-height: 250px;
}

.row_posterLarge:hover {
    transform: scale(1.09);
}

.row{
    margin-left: 20px;
    color: white
}